source.duration=3000
source.kafka.zookeeper.quorums=first.zookeeper.dip.weibo.com:2181,second.zookeeper.dip.weibo.com:2181,third.zookeeper.dip.weibo.com:2181/kafka/k1001
source.kafka.topic.name=app_weibovideowfpynt25az_livelog
source.kafka.topic.trim=false
source.kafka.topic.format=delimiter
source.kafka.topic.regex=\\|##\\|
source.kafka.topic.columns=timestamp,level,request_id,server_ip,client_ip,uid,file,line,module,body,trace_string
source.kafka.topic.consumer.group=consumer_liveservice
source.kafka.topic.consumer.receivers=6
source.table=live_service
