sink.output.direction=es

sink.output.hdfs.path=/data0/xiaoyu/data/result/res
sink.output.mapper=es

sink.kafka.servers=first.kafka.dip.weibo.com:9092,second.kafka.dip.weibo.com:9092,third.kafka.dip.weibo.com:9092,fourth.kafka.dip.weibo.com:9092,fifth.kafka.dip.weibo.com:9092
sink.kakfa.topic=dip-kafka2es-common
