SELECT
_index,
_type,
_timestamp,
SUM(length)/1024/1024/1024 AS sumlen,
engineType
FROM (
SELECT
'dip-aliyunoss' AS _index,
'v1' AS _type,
getdayUTC(CAST(ctime AS BIGINT)) AS _timestamp,
CAST(length AS BIGINT) AS length,
engineType
FROM(
SELECT
fid,
length,
engineType,
ctime
FROM
oss
LATERAL VIEW json_tuple(content,"fid","length","engineType","ctime") AS fid,length,engineType,ctime
)tmp
)tmp1
WHERE
_timestamp IS NOT NULL
AND _timestamp != ''
AND length >= 0
GROUP BY _index, _type, _timestamp,engineType