source.duration=3000
source.kafka.zookeeper.quorums=first.zookeeper.dip.weibo.com:2181,second.zookeeper.dip.weibo.com:2181,third.zookeeper.dip.weibo.com:2181/kafka/k1001
source.kafka.topic.name=live_weibo_new
source.kafka.topic.format=regex
source.kafka.topic.regex=^([^	]*)	([^	]*)	([^	]*)	([^	]*)	([^	]*)	([^	]*)	([^	]*)	([^	]*)	([^	]*)	([^	]*)$
source.kafka.topic.columns=timestamp,ip,sessionid,action,uid,clientfrom,roomid,containerid,status,extend
source.kafka.topic.consumer.group=sparkstreaming_consumer
source.kafka.topic.consumer.receivers=1
source.table=live
