SELECT
	"dip-live" AS _index,
	"v2" AS _type,
	action AS oper_type,
    getUTCTimestamp(timestamp, 'yyyy-MM-dd HH:mm:ss') AS timestamp,
    roomid,
    uid,
    clientfrom,
    CASE action
    	WHEN "join_room" THEN getOnlineNum(extend)
    	WHEN "like" THEN getLike(extend)
    	ELSE 1
    END as value,
    CASE action
        WHEN "join_room" THEN getWeightedOnlineNum(extend)
        WHEN "like" THEN getLike(extend)
        ELSE 1
    END as weighted_value
FROM
    live