source.duration=1000
source.kafka.zookeeper.quorums=10.210.136.34:2181,10.210.136.80:2181,10.210.77.15:2181
source.kafka.topic.name=link
source.kafka.topic.format=json
source.kafka.topic.columns=subtype,result_code,during_time,net_time,time,__date,ua,network_type,ip
source.kafka.topic.consumer.group=xiaoyu_consumer
source.kafka.topic.consumer.receivers=1
source.table=fulllink
