source.duration=3000
source.kafka.zookeeper.quorums=first.zookeeper.dip.weibo.com:2181,second.zookeeper.dip.weibo.com:2181,third.zookeeper.dip.weibo.com:2181/kafka/k1001
source.kafka.topic.name=app_weibomobile03x4ts1kl_clientperformance
source.kafka.topic.format=json
source.kafka.topic.columns=subtype,result_code,during_time,net_time,time,__date,ua,network_type,ip
source.kafka.topic.consumer.group=sparkstreaming_consumer
source.kafka.topic.consumer.receivers=1
source.table=fulllink
