source.duration=3000
source.approach=direct
source.kafka.zookeeper.quorums=d013004044.hadoop.dip.weibo.com:2181/kafka_intra
source.kafka.brokers=d013004044.hadoop.dip.weibo.com:9092
source.kafka.topic.name=demo_streaming_source
source.kafka.topic.format=regex
source.kafka.topic.regex=^([^	]*)	([^	]*)	([^	]*)	([^	]*)	([^	]*)	([^	]*)	([^	]*)	([^	]*)	([^	]*)	([^	]*)$
source.kafka.topic.columns=timestamp,ip,sessionid,action,uid,clientfrom,roomid,containerid,status,extend
source.kafka.topic.consumer.group=demo_streaming
source.kafka.topic.consumer.receivers=1
source.table=live
