SELECT
	"dip-live" as _index,
	action as _type,
    getUTCTimestamp(timestamp, 'yyyy-MM-dd HH:mm:ss') AS timestamp,
    roomid,
    uid,
    CASE action
    	WHEN "join_room" THEN getOnlineNum(extend)
    	WHEN "user_msg" THEN 1
    	WHEN "like" THEN getLike(extend)
    	ELSE 0
    END as value
FROM
    live