source.duration=5000
source.kafka.zookeeper.quorums=first.zookeeper.dip.weibo.com:2181,second.zookeeper.dip.weibo.com:2181,third.zookeeper.dip.weibo.com:2181/kafka/k1001
source.kafka.topic.name=openapi_op
source.kafka.topic.trim=false
source.kafka.topic.format=regex
source.kafka.topic.regex=^^\\[(\\S+)] ([^	]*)	([^	]*)	([^	]*)	([^	]*)	([^	]*)	([^	]*)	([^	]*)	([^	]*)	([^	]*)	([^	]*)$
source.kafka.topic.columns=sip,timestamp,ip,uid,uaction,oref,oaction,ostatus,oobject,host,extend
source.kafka.topic.consumer.group=consumer_usertrace_test
source.kafka.topic.consumer.receivers=1
source.table=openapi_op
