SELECT
	_index,
    _type,
    sip,
    _timestamp,
    ip,
    uid,
    uaction,
    oref,
    oaction,
    ostatus,
    oobject,
    host,
    extend["interface_tag"] AS interface_tag,
    extend["is_intranet"] AS is_intranet,
    extend["origin"] AS origin,
    extend["proxy_source"] AS proxy_source,
    split(extend["uids"], ";") AS uids
FROM
	(
		SELECT
			'dip-usertrace' as _index,
		    'v2' as _type,
			sip,
			getUTCTimestamp(timestamp, 'yyyy-MM-dd HH:mm:ss') AS _timestamp,
			ip,
			uid,
			uaction,
			oref,
			oaction,
			ostatus,
			oobject,
			host,
			parse_openapi_op_extend(extend) as extend
		FROM
			openapi_op
		WHERE
		    uaction = '14000008'
		    OR uaction = '14000009'
	) temp
WHERE
	_timestamp IS NOT NULL
