SELECT
	*
FROM(
	SELECT
		_index,
    	_type,
    	_timestamp,
    	uid,
    	touid,
    	uaction,
    	appid,
    	oaction,
    	cip,
    	extend["caller"] AS sip,
    	extend["origin"] AS origin
	FROM
		(
		SELECT
			'dip-usertrace' as _index,
		    'v1' as _type,
			getUTCTimestamp(timestamp, 'yyyy-MM-dd HH:mm:ss') AS _timestamp,
			uid,
			uaction,
			oref AS appid,
			oaction,
			ip AS cip,
			parse_openapi_op_extend(extend) as extend
		FROM
			openapi_op
		WHERE
		    uaction IN ('14000008','14000009')
		    AND oaction IN ('0','1','11','12')
		    AND uid IS NOT NULL
		    AND uid !=''
		    AND oref IS NOT NULL
		    AND oref !=''
		    AND extend IS NOT NULL
		    AND extend !=''
		) temp
		LATERAL VIEW explode(split(extend["uids"],';')) adTable AS touid
		WHERE
			_timestamp IS NOT NULL
	)temp1
	WHERE
		touid IS NOT NULL
		AND touid != ''
		AND touid NOT LIKE '1022:%'
		AND touid NOT LIKE '1015:%'