sink.output.mapper=text

sink.output.direction=hdfs

sink.output.hdfs.path=/user/tmp/aliyunOssCountByIp-v2

sink.kafka.servers=first.kafka.dip.weibo.com:9092,second.kafka.dip.weibo.com:9092,third.kafka.dip.weibo.com:9092,fourth.kafka.dip.weibo.com:9092,fifth.kafka.dip.weibo.com:9092
sink.kakfa.topic=dip-kafka2es-common
