# Built-in
getUTCTimestamp=com.weibo.dip.data.platform.datacubic.streaming.udf.GetUTCTimestamp
timeAggr=com.weibo.dip.data.platform.datacubic.streaming.udf.TimeAggregation
ipToLocation=com.weibo.dip.data.platform.datacubic.streaming.udf.IpToLocation
time_to_utc=com.weibo.dip.data.platform.datacubic.streaming.udf.TimeToUTC
parse_openapi_op_extend=com.weibo.dip.data.platform.datacubic.streaming.udf.ParseOpenAPIOPExtend
isnumber=com.weibo.dip.data.platform.datacubic.streaming.udf.IsNumber

# Youku
getVideoId=com.weibo.dip.data.platform.datacubic.streaming.udf.youku.GetVideoId
getDomainId=com.weibo.dip.data.platform.datacubic.streaming.udf.youku.GetDomainId
getPlatform=com.weibo.dip.data.platform.datacubic.streaming.udf.youku.GetPlatform

# VideoTrace-HA
getCdn=com.weibo.dip.data.platform.datacubic.streaming.udf.videotrace.ha.GetCdn
getDomain=com.weibo.dip.data.platform.datacubic.streaming.udf.videotrace.ha.GetDomain
getIdc=com.weibo.dip.data.platform.datacubic.streaming.udf.videotrace.ha.GetIdc
getSize=com.weibo.dip.data.platform.datacubic.streaming.udf.videotrace.ha.GetSize

# Live
getOnlineNum=com.weibo.dip.data.platform.datacubic.streaming.udf.live.GetOnlineNum
getWeightedOnlineNum=com.weibo.dip.data.platform.datacubic.streaming.udf.live.GetWeightedOnlineNum
getLike=com.weibo.dip.data.platform.datacubic.streaming.udf.live.GetLike

# fulllink
parseUAInfo=com.weibo.dip.data.platform.datacubic.streaming.udf.fulllink.ParseUAInfo
timeMillSecond=com.weibo.dip.data.platform.datacubic.streaming.udf.fulllink.TimeMillSecond
