nothing=com.weibo.dip.data.platform.datacubic.streaming.mapper.NothingRowMapper
default=com.weibo.dip.data.platform.datacubic.streaming.mapper.DefaultRowMapper
es=com.weibo.dip.data.platform.datacubic.streaming.mapper.ESRowMapper
esv2=com.weibo.dip.data.platform.datacubic.streaming.mapper.ESRowMapperV2
text=com.weibo.dip.data.platform.datacubic.streaming.mapper.TextRowMapper