zkstr=first.zookeeper.dip.weibo.com:2181,second.zookeeper.dip.weibo.com:2181,third.zookeeper.dip.weibo.com:2181/kafka/k1001
resource_topics={"app_picserversweibof6vwt_videoupload":5}
producerConfig={"bootstrap.servers":"first.kafka.dip.weibo.com:9092,second.kafka.dip.weibo.com:9092,third.kafka.dip.weibo.com:9092,fourth.kafka.dip.weibo.com:9092,fifth.kafka.dip.weibo.com:9092","key.serializer":"org.apache.kafka.common.serialization.StringSerializer","value.serializer":"org.apache.kafka.common.serialization.StringSerializer"}
consumerGroup=videoupload_streaming
kafka.topic.send=dip-kafka2es-common
duration=10000