source.duration=3000
source.kafka.zookeeper.quorums=d013004044.hadoop.dip.weibo.com:2181/kafka_intra
source.kafka.topic.name=videotrace_ha
source.kafka.topic.format=regex
source.kafka.topic.regex=^([^\\s]*) {1,2}([^\\s]*) ([^\\s]*) ([^\\s]*) ([^\\s]*) ([^\\s]*):([^\\s]*) \\[([^\\s]*)] ([^\\s]*) ([^\\s]*) ([^\\s]*)/([^\\s]*)/([^\\s]*)/([^\\s]*)/([^\\s]*) ([^\\s]*) ([^\\s]*) ([^\\s]*) ([^\\s]*) ([^\\s]*) ([^\\s]*) ([^\\s]*) \\{([^\\s]*)\\|([^\\s]*)\\|([^\\s]*)} "(.*)$
source.kafka.topic.columns=mmm,dd,clock,process,process_name,client_ip,client_port,accept_date,frontend_name,backend_server,tq,tw,tc,tr,tt,status_code,bytes_read,captured_request_cookie,captured_response_cookie,termination_state,act_fe_be_srv_retries,srvqueue_backendqueue,captured_request_headers,uid,via,http_request
source.kafka.topic.consumer.group=olap_consumer
source.kafka.topic.consumer.receivers=1
source.table=halog
