SELECT
  *
FROM
  (
    SELECT
      getIdc(frontend_name) AS idc,
      getCdn(via) AS cdn,
      getDomain(captured_request_headers) AS domain,
      ipToLocation(client_ip)['isp'] AS isp,
      getSize(bytes_read) AS size,
      getUTCTimestamp(accept_date, 'dd/MMM/yyyy:HH:mm:ss.SSS') AS timestamp
    FROM
      halog
  ) temp
WHERE
  idc IS NOT NULL
  AND cdn IS NOT NULL
  AND domain IS NOT NULL
  AND isp IS NOT NULL
  AND size >= 0
  AND timestamp IS NOT NULL